<% provide(:title, "About") %>
<h1>We want to make the life easier for wineries and wine lovers</h1>
<p>
  AppName offers thousands of guests the convenience of being able to book their visit in real time. AppName works with wineries to make more comfortable and effective the reservation.

  Our philosophy is clear: we want to provide a service to us as users we would like. A fast and efficient system reserves. We believe that the Internet is an excellent way to find and book tours of wineries in a simple, convenient and advantageous manner.
</p>
