<footer class="footer">
  <small>
    The <a href="http://coconuts.la/">Full Wines App</a>
    by <a href="http://www.twitter.com/pochocosta">Pocho Costa</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com/pochocosta">News</a></li>
    </ul>
  </nav>
</footer>